@charset "UTF-8";
* {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif, "微軟正黑體", "蘋方-繁";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1, h2 {
  font-size: 33px;
}

h3, h4 {
  font-size: 23px;
}

p {
  font-size: 16px;
}

h2 {
  text-align: center;
  padding-bottom: 6px;
}
h2:after {
  content: "";
  width: 80px;
  height: 5px;
  bottom: -5px;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 2px 30px;
  vertical-align: bottom;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#navbar .navbar-mid {
  max-width: 1280px;
}
#navbar .brand {
  float: left;
  padding: 5px 20px;
  font-size: 23px;
  cursor: pointer;
}
#navbar .brand .nav_link {
  font-size: 23px;
}
#navbar .brand .nav_link:hover {
  color: #EED788;
}
#navbar .nav_icon {
  width: 40px;
  height: 40px;
  margin-top: 1px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}
#navbar .nav_icon nav_line, #navbar .nav_icon .line1, #navbar .nav_icon .line2, #navbar .nav_icon .line3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#navbar .nav_icon:hover nav_line, #navbar .nav_icon:hover .line1, #navbar .nav_icon:hover .line2, #navbar .nav_icon:hover .line3 {
  background-color: #EED788;
}
#navbar .nav_icon .line1 {
  -moz-transform: translate(-50%, 450%);
  -ms-transform: translate(-50%, 450%);
  -webkit-transform: translate(-50%, 450%);
  transform: translate(-50%, 450%);
}
#navbar .nav_icon .line2 {
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
#navbar .nav_icon .line3 {
  -moz-transform: translate(-50%, -450%);
  -ms-transform: translate(-50%, -450%);
  -webkit-transform: translate(-50%, -450%);
  transform: translate(-50%, -450%);
}
#navbar .nav_icon.active .line1, #navbar .nav_icon.active .line2 {
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
#navbar .nav_icon.active .line3 {
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
#navbar .nav_top {
  float: right;
  display: inline-block;
  padding-top: 10px;
  background-color: transparent;
}
#navbar .nav_top ul {
  font-size: 0;
  margin: 0;
  list-style: none;
}
#navbar .nav_top .nav_item {
  font-size: initial;
  display: inline-block;
  padding: 0px 15px;
}
#navbar .nav_top .nav_item:last-child {
  border-right: solid 0px;
}

#navbar.leavetop {
  color: #4B4D66;
  border-bottom: solid 1px rgba(75, 77, 102, 0.6);
  background-color: rgba(227, 229, 242, 0.6);
}
#navbar.leavetop .brand .nav_link {
  color: #4B4D66;
}
#navbar.leavetop .brand .nav_link:hover {
  color: #EED788;
}
#navbar.leavetop .nav_top {
  border-color: rgba(75, 77, 102, 0.6);
}
#navbar.leavetop .nav_top .nav_item {
  border-color: #4B4D66;
}
#navbar.leavetop .nav_top .nav_item:hover .nav_link {
  color: #EED788;
}

.img_wrap, .text_wrap {
  vertical-align: middle;
  font-size: initial;
  display: inline-block;
}

section {
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1024px;
  font-size: 0px;
}

#navbar {
  border-bottom: solid 1px #E3E5F2;
  color: #eee;
}
#navbar .brand .nav_link {
  color: #eee;
}
#navbar .nav_icon nav_line, #navbar .nav_icon .line1, #navbar .nav_icon .line2, #navbar .nav_icon .line3 {
  background-color: #E3E5F2;
}
#navbar .nav_top {
  background-color: transparent;
}
#navbar .nav_top .nav_item {
  border-right: solid 1px #E3E5F2;
}
#navbar .nav_top .nav_item .nav_link {
  color: #E3E5F2;
}
#navbar .nav_top .nav_item:hover .nav_link {
  color: #EED788;
}
#navbar .nav_top .nav_item:last-of-type {
  border-right: solid 0px #E3E5F2;
}

#navbar.leavetop .nav_icon .line1, #navbar.leavetop .nav_icon .line2, #navbar.leavetop .nav_icon .line3 {
  background-color: #4B4D66;
}
#navbar.leavetop .nav_top {
  background-color: transparent;
}
#navbar.leavetop .nav_top .nav_item {
  border-color: #4B4D66;
}
#navbar.leavetop .nav_top .nav_item .nav_link {
  color: #4B4D66;
}
#navbar.leavetop .nav_top .nav_item:hover .nav_link {
  color: #EED788;
}

.next-page {
  position: absolute;
  width: 80px;
  bottom: 0;
  left: 50%;
  text-align: center;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-animation: explore_move 1s infinite ease-in-out;
  -webkit-animation: explore_move 1s infinite ease-in-out;
  animation: explore_move 1s infinite ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.next-page span {
  font-size: 14px;
}
.next-page img {
  width: 30px;
}
.next-page.leavetop {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

@-moz-keyframes explore_move {
  0% {
    -moz-transform: translate(-50%, -20px);
    transform: translate(-50%, -20px);
  }
  80% {
    -moz-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  100% {
    -moz-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}
@-webkit-keyframes explore_move {
  0% {
    -webkit-transform: translate(-50%, -20px);
    transform: translate(-50%, -20px);
  }
  80% {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}
@keyframes explore_move {
  0% {
    -moz-transform: translate(-50%, -20px);
    -ms-transform: translate(-50%, -20px);
    -webkit-transform: translate(-50%, -20px);
    transform: translate(-50%, -20px);
  }
  80% {
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  100% {
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}
.container {
  position: absolute;
  padding: 10px 40px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}

section#section_home {
  background-color: #4B4D66;
  color: #E3E5F2;
}
section#section_home .container {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section#section_home .container .img_wrap {
  padding: 30px 0;
  width: 60%;
  -moz-perspective: 600;
  -webkit-perspective: 600;
  perspective: 600;
  -moz-perspective-origin: 30% center;
  -webkit-perspective-origin: 30% center;
  perspective-origin: 30% center;
}
section#section_home .container .img_wrap img {
  width: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
section#section_home .container .img_wrap .home_img {
  position: absolute;
  top: 50%;
  width: 30%;
  text-align: center;
  -moz-transform: rotateY(-60deg) translateY(-50%);
  -ms-transform: rotateY(-60deg) translateY(-50%);
  -webkit-transform: rotateY(-60deg) translateY(-50%);
  transform: rotateY(-60deg) translateY(-50%);
}
section#section_home .container .img_wrap .home_img img {
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-box-shadow: 0px 0px 4px rgba(227, 229, 242, 0.3);
  -webkit-box-shadow: 0px 0px 4px rgba(227, 229, 242, 0.3);
  box-shadow: 0px 0px 4px rgba(227, 229, 242, 0.3);
}
section#section_home .container .img_wrap .home_img span {
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 14px;
  letter-spacing: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-transform: translate(30px, -10px);
  -ms-transform: translate(30px, -10px);
  -webkit-transform: translate(30px, -10px);
  transform: translate(30px, -10px);
}
section#section_home .container .img_wrap .home_img:hover img {
  -moz-transform: translateX(30px) scale(1.1);
  -ms-transform: translateX(30px) scale(1.1);
  -webkit-transform: translateX(30px) scale(1.1);
  transform: translateX(30px) scale(1.1);
}
section#section_home .container .img_wrap .home_img:hover span {
  -moz-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  -webkit-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
section#section_home .container .img_wrap #home_img1 {
  z-index: 10;
  left: 15%;
}
section#section_home .container .img_wrap #home_img2 {
  z-index: 9;
  left: 30%;
}
section#section_home .container .img_wrap #home_img3 {
  z-index: 8;
  left: 45%;
}
section#section_home .container .text_wrap {
  width: 40%;
  padding: 10px;
}
section#section_home .container h1 {
  color: #EED788;
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 2px;
}
section#section_home .container p {
  margin-top: 0;
  letter-spacing: 3px;
}

section#section_intro {
  background-color: #EED788;
  color: #4B4D66;
}
section#section_intro h2 {
  color: #4B4D66;
}
section#section_intro h2:after {
  background-color: #4B4D66;
}
section#section_intro .container .text_wrap {
  width: 70%;
  padding: 0px 80px;
}
section#section_intro .container .text_wrap h3 {
  margin-bottom: 5px;
}
section#section_intro .container .text_wrap p {
  margin-top: 0;
  margin-bottom: 5px;
  text-indent: 34px;
}
section#section_intro .container .img_wrap {
  width: 30%;
  padding: 5%;
}
section#section_intro .container .img_wrap img {
  width: 90%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

section#section_profolio {
  background-color: #E3E5F2;
  color: #4B4D66;
}
section#section_profolio h2 {
  color: #6A97B4;
}
section#section_profolio h2:after {
  background-color: #6A97B4;
}
section#section_profolio .container .more {
  position: absolute;
  left: 50%;
  bottom: -50px;
  border: solid 1px #4B4D66;
  padding: 5px 10px;
  font-size: 16px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section#section_profolio .container .more a {
  color: #4B4D66;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section#section_profolio .container .more a:after {
  content: ">>";
  left: 0px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
section#section_profolio .container .more:hover {
  background-color: #4B4D66;
}
section#section_profolio .container .more:hover a {
  color: #E3E5F2;
}
section#section_profolio .container .more:hover a:after {
  left: 3px;
}
section#section_profolio .container .img_wrap {
  margin: 0px 2%;
  width: 29%;
  height: 300px;
  cursor: pointer;
  border: solid 10px #4B4D66;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #6A97B4 center center/cover no-repeat;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
section#section_profolio .container .img_wrap a {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
section#section_profolio .container .img_wrap .black_mask {
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: black;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section#section_profolio .container .img_wrap .info_wrap {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section#section_profolio .container .img_wrap .info_wrap h3, section#section_profolio .container .img_wrap .info_wrap p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-align: center;
  color: #eee;
  margin: 5px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
section#section_profolio .container .img_wrap:hover {
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
  -moz-box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.1);
}
section#section_profolio .container .img_wrap:hover .black_mask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
section#section_profolio .container .img_wrap:hover .info_wrap {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section#section_profolio .container .img_wrap:hover h3, section#section_profolio .container .img_wrap:hover p {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
section#section_profolio #pro-img1 {
  background-image: url("../images/ian_pro_img1.png");
}
section#section_profolio #pro-img2 {
  background-image: url("../images/ian_pro_img2.png");
}
section#section_profolio #pro-img3 {
  background-image: url("../images/ian_pro_img3.png");
}

section#section_skill {
  background-color: #6A97B4;
  color: #E3E5F2;
}
section#section_skill h2 {
  color: #4B4D66;
}
section#section_skill h2:after {
  background-color: #4B4D66;
}
section#section_skill h5 {
  margin: 10px;
  font-size: 23px;
}
section#section_skill .container {
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
}
section#section_skill .img_wrap {
  vertical-align: middle;
  width: 50%;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-size: 100%;
  background-position: center center;
  font-size: 0;
}
section#section_skill .img_wrap img {
  vertical-align: middle;
  padding: 0 3px;
  width: 35%;
  display: inline-block;
}
section#section_skill .img_wrap .text_wrap {
  vertical-align: middle;
  width: 65%;
  padding: 0px 10px;
}
section#section_skill .img_wrap .text_wrap:first-child {
  text-align: right;
}
section#section_skill .img_wrap .text_wrap:first-child h5:after {
  content: "．";
}
section#section_skill .img_wrap .text_wrap:last-child {
  text-align: left;
}
section#section_skill .img_wrap .text_wrap:last-child h5:before {
  content: "．";
}
section#section_skill .img_wrap:first-child:hover {
  -moz-transform: scale(1.1) translateX(-5%);
  -ms-transform: scale(1.1) translateX(-5%);
  -webkit-transform: scale(1.1) translateX(-5%);
  transform: scale(1.1) translateX(-5%);
}
section#section_skill .img_wrap:last-child:hover {
  -moz-transform: scale(1.1) translateX(5%);
  -ms-transform: scale(1.1) translateX(5%);
  -webkit-transform: scale(1.1) translateX(5%);
  transform: scale(1.1) translateX(5%);
}

section#section_contact {
  background-color: #EED788;
  color: #66879C;
}
section#section_contact h2 {
  color: #4B4D66;
}
section#section_contact h2:after {
  background-color: #4B4D66;
}
section#section_contact a {
  color: #66879C;
}
section#section_contact a:hover {
  color: #4B4D66;
}
section#section_contact h5 {
  margin: 10px;
  font-size: 23px;
}
section#section_contact .container {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section#section_contact .img_wrap {
  width: 40%;
  padding: 0 30px;
  cursor: pointer;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 100%;
  background-position: center center;
}
section#section_contact .img_wrap img {
  width: 100%;
}
section#section_contact .text_wrap {
  width: 60%;
  padding-left: 10%;
}

footer {
  position: absolute;
  width: 100%;
  max-width: 100%;
  bottom: 0;
  padding: 15px 30px;
  color: #E3E5F2;
  background-color: #6A97B4;
}
footer p {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  max-width: 1280px;
}
footer .backtop {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 30px;
  top: 0px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #4B4D66;
  color: #E3E5F2;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border-radius: 50%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .backtop:hover {
  background-color: #EED788;
  color: #4B4D66;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }

  #navbar {
    padding: 2px 5px;
  }
  #navbar .nav_icon {
    float: right;
    display: inline-block;
    padding-top: 0px;
  }
  #navbar .nav_top {
    display: none;
    position: absolute;
    padding-top: 0px;
    border: solid 1px #E3E5F2;
    right: 0;
    top: 44px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #navbar .nav_top ul {
    padding: 0;
  }
  #navbar .nav_top .nav_item {
    font-size: initial;
    padding: 10px 30px;
    border: 0px;
    margin: 5px 0;
    display: block;
    color: #E3E5F2;
    text-align: left;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  #navbar.leavetop .nav_top {
    background-color: rgba(227, 229, 242, 0.6);
  }

  section {
    min-height: auto;
    padding-bottom: 50px;
  }

  .container {
    padding: 0px 10px;
    top: 0;
    left: 0;
    position: relative;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  section#section_home {
    min-height: 100%;
  }
  section#section_home .container {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  section#section_home .container .img_wrap {
    width: 100%;
    left: -5%;
    -moz-transform: translate(0, 90%);
    -ms-transform: translate(0, 90%);
    -webkit-transform: translate(0, 90%);
    transform: translate(0, 90%);
  }
  section#section_home .container .img_wrap .home_img {
    width: 40%;
  }
  section#section_home .container .img_wrap .home_img span {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
  section#section_home .container .img_wrap #home_img1 {
    left: 15%;
    -moz-transform: rotateY(-40deg) translateY(-50%);
    -ms-transform: rotateY(-40deg) translateY(-50%);
    -webkit-transform: rotateY(-40deg) translateY(-50%);
    transform: rotateY(-40deg) translateY(-50%);
  }
  section#section_home .container .img_wrap #home_img2 {
    left: 35%;
    -moz-transform: rotateY(-40deg) translateY(-30%);
    -ms-transform: rotateY(-40deg) translateY(-30%);
    -webkit-transform: rotateY(-40deg) translateY(-30%);
    transform: rotateY(-40deg) translateY(-30%);
  }
  section#section_home .container .img_wrap #home_img3 {
    left: 55%;
    -moz-transform: rotateY(-40deg) translateY(-10%);
    -ms-transform: rotateY(-40deg) translateY(-10%);
    -webkit-transform: rotateY(-40deg) translateY(-10%);
    transform: rotateY(-40deg) translateY(-10%);
  }
  section#section_home .container .text_wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    -moz-transform: translate(0, -90%);
    -ms-transform: translate(0, -90%);
    -webkit-transform: translate(0, -90%);
    transform: translate(0, -90%);
  }

  section#section_intro .container {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  section#section_intro .container .text_wrap {
    width: 100%;
    padding: 0px 10px;
  }
  section#section_intro .container .img_wrap {
    width: 100%;
    padding: 10%;
  }
  section#section_intro .container .img_wrap img {
    width: 100%;
  }

  section#section_profolio .container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
  }
  section#section_profolio .container .more {
    bottom: -5px;
  }
  section#section_profolio .container .img_wrap {
    margin: 3% 0px;
    padding: 0px;
    width: 100%;
    height: 300px;
  }
  section#section_profolio .container .img_wrap .black_mask {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
  section#section_profolio .container .img_wrap .info_wrap h3, section#section_profolio .container .img_wrap .info_wrap p {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  section#section_skill .container {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  section#section_skill .img_wrap {
    vertical-align: top;
    width: 100%;
  }
  section#section_skill .img_wrap img {
    width: 40%;
  }
  section#section_skill .img_wrap .text_wrap {
    width: 60%;
  }

  section#section_contact .container {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  section#section_contact .container .text_wrap {
    width: 100%;
    padding: 20px;
  }
  section#section_contact .container .img_wrap {
    width: 100%;
    padding: 20px;
  }
}
